In [2]:
#1️. Find the sum of even numbers only.
l1 = [10, 13, 15, 18, 20]
sum=0
for i in l1:
    if i % 2 ==0:
        sum+=i
print(sum)

48

In [3]:
#2️. Multiply all elements in a list.
l2 = [2, 3, 4]
product =1
for i in l2:
    product*=i
print(product)

24

In [11]:
#3️. Find the difference between max and min in a list.
l3 = [10, 20, 5, 40]

min = 0
max = 0
for i in range(len(l3)):
    for j in range(len(l3)):
        if l3[i]<l3[j]:
            min = l3[i]
        if l3[i]>l3[j]:
            max = l3[i]
print(max-min)

35

In [18]:
#4️. Extract first 4 elements of a list.
n = [5, 8, 12, 20, 25, 30]
print(n[:4])
for i in range(len(n)):
    if i<=4:
        print(n[i],end=' ')

[5, 8, 12, 20]
5 8 12 20 25

In [ ]:
#5️. Print elements in reverse order (without using reverse or slicing)
n = [1, 2, 3]
rev_n = []
for i in n:

TypeError: can only concatenate str (not "list") to str

In [22]:
#6️. Print numbers greater than 50.

l = [20, 55, 80, 30]
for i  in l:
    if i>50:
        print(i)

55
80

In [24]:
#7️. Remove all odd numbers.

l = [2, 3, 4, 5, 6]
for i in l:
    if i % 2!=0:
        l.remove(i)
print(l)

[2, 4, 6]

In [36]:
#8️. Convert list of strings to uppercase.
l = ['hello', 'world']
new = []
for i in l:
    new.append(i.upper())
print(new)

['HELLO', 'WORLD']

In [37]:
#9️. Convert string of numbers into list.
s = '12345'
string = []
for i in s:
    string.append(i)
print(string)

['1', '2', '3', '4', '5']

In [40]:
#10. Calculate average excluding highest and lowest value.
l = [10, 20, 30, 40, 50]
smallest = l[0]
largest = l[0] 
for i in l:
    if i>largest:
        largest= i
    if i<smallest:
        smallest = i
print(smallest)
print(largest)

10
50

In [41]:
#1️1️. Find product of numbers at even index positions

l = [2, 3, 4, 5, 6]
product = 1
for i in range(len(l)):
    if i % 2 == 0:
        product*=l[i]
print(product)

48

In [42]:
#12️. Count number of vowels in a list of characters.
l = ['a','b','e','i','o']
count = 0
for i in l:
    if i in 'aeiou':
        count+=1
print(count)

4

In [43]:
#1️3️. Remove all vowels from a list of characters.

l =  ['h','e','l','l','o']
for i in l:
    if i in 'aeiou':
        l.remove(i)
print(l)

['h', 'l', 'l']

In [51]:
#1️4️. Find second smallest number.

l =  [8, 2, 5, 1, 9]
l.sort()
print(l[1])

2

In [81]:
#1️5️. Sort list without using sort() or sorted()
l = [5, 2, 8, 1]
nl = []
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]>l[j]:
            l[i],l[j] = l[j],l[i]
print(l)

[1, 2, 5, 8]

In [ ]:
''' 16. Print diagonal elements from 3x3 matrix.
Input: [[1,2,3],[4,5,6],[7,8,9]]
Output: [1, 5, 9]'''

l = [[1,2,3],[4,5,6],[7,8,9]]
'''for i in l:
    for j in range(1) :
        print(i,end= ' ')
    print()'''
for i in range(len(l)):
    for j in range(i,len(l)):
        if i == j:
            print(l[i][j])

1
5
9

In [116]:
#1️7️. Sum of all elements in nested list.

l = [[1,2],[3,4],[5,6]]
total = 0
for i in l:
    for j in i:
        
        total+=j
print(total)

21

In [120]:
#1️8️. Replace all 'a' with 'z' in list of characters.

l = ['a','b','c','a']

for i in range(len(l)):
    if l[i] =='a':
        l[i] = 'z'
print(l)

['z', 'b', 'c', 'z']

In [122]:
#1️9️. Find number of times '5' appears in list.

n = [5,5,3,2,5]
count = 0
for i in range(len(n)):
    if n[i]==5:
        count+=1
print(count)

3

In [129]:
#2️0️. Find all pairs with sum greater than 10.

n =  [2, 8, 5, 7]
for i in range(len(n)):
    for j in range(i+1,len(n)):
        sum = n[i]  + n[j]
        if sum > 10:
            print(n[i],n[j])

8 5
8 7
5 7

In [138]:
#2️1️. Create list of multiples of 4 upto 40.

l = []
for i in range(1,11):
    l.append(4*i)
print(l)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [153]:
#2️2️. Create pattern list [1,2,2,3,3,3,4,4,4,4]
l = []
n = 5
for i in range(1,n):
    for j in range(i):
       l.append(i)
print(l)

[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]

In [155]:
#2️3️. Find cumulative product
l = [1, 2, 3, 4]
nl = []
product = 1
for i in l:
    product*=i
    nl.append(product)
print(nl)

[1, 2, 6, 24]

In [ ]:
#2️4️. Count numbers between 50 and 100
l = [23, 76, 98, 45, 50]
count=0
for i in l:
    if i>=50 and i<=100:
        count+=1
print(count)

1
2
3

In [161]:
#2️5️. Create all possible pairs from [1,2] and [3,4]
x = [1,2]
y = [3,4]
z = []
for i in x:
    for j in y:
        z.append((i,j))
print(z)

[(1, 3), (1, 4), (2, 3), (2, 4)]

In [5]:
#2️6️. Find common elements between 3 lists.
l1= [1,2,3]
l2= [2,3,4]
l3= [3,4,5]
for i in l1:
    if i in l2 :
        if i in l3:
            print(i)

3

In [10]:
#2️7️. Find length of longest word in list.
l =  ['hi', 'world', 'python']
longest = ''
for i in l:
    if len(i)>len(longest):
        longest = i
print(len(longest))

6

In [14]:
#2️8️. Replace duplicate values with -1

l = [1,2,2,3]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]==l[j]:
            l[j]=-1
print(l)

[1, 2, -1, 3]

In [16]:
#2️9️. Convert list of integers to list of their squares.
l = [2,3,4]
nl = [i**2 for i in l]
print(nl)

[4, 9, 16]

In [ ]:
#3️0️. Split list into 2 halves.
l = [1,2,3,4,5,6]
nl =[]
nl1=[]
nl2 =[]
for i in range(len(l)//2):
    nl2.append(l[i])
for j in range(len(l)//2,len(l)):
    nl1.append(l[j])
nl.append(nl2)
nl.append(nl1)
print(nl)
# mid = len(l//2
# nl = [l[:mid],l[mid:]]

[[1, 2, 3], [4, 5, 6]]

In [35]:
#31️. Count how many numbers are divisible by 5.
l =  [5, 10, 13, 20, 7]
count=0
for i in l:
    if i%5==0:
        count+=1
print(count)

3

In [38]:
#32️. Replace negative numbers with 0.
l = [2, -3, 5, -6]
for i in range(len(l)):
    if l[i]<0:
        l[i]=0
print(l)

[2, 0, 5, 0]

In [43]:
#33️. Find product of numbers at odd index positions.
l = [3, 4, 5, 6]
prod = 1
for i in range(len(l)):
    if i%2!=0:
        prod*=l[i]
    
print(prod)

24

In [51]:
#34️. Find sum of digits of all numbers in list.
l = [23, 45, 67]
total = 0
for i in l:
    for j in range(len(str(l))):
        total+=i%10
        i= i//10
   
print(total)

27

In [55]:
#35️. Find minimum and maximum element without using min(), max().

l = [10, 25, 5, 70]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
print(l)
print('min : ',l[0])
print('max : ',l[-1])

[5, 10, 25, 70]
min :  5
max :  70

In [6]:
#v36️. Move all zeroes to the end.
l = [0, 1, 0, 7,3, 0, 5,0,11,0]
for i in range(len(l)):
    for j in range(len(l)):
        if l[j] == 0:
             l[j],l[i]= l[i],l[j]
print(l)


'''l = [0, 1, 0, 3, 0, 5,0,11,0]
pos = 0
for i in range(len(l)):
    if l[i]!=0:
        l[pos],l[i]=l[i],l[pos]
        pos+=1
print(l)'''

[1, 7, 3, 5, 11, 0, 0, 0, 0, 0]

'l = [0, 1, 0, 3, 0, 5,0,11,0]\npos = 0\nfor i in range(len(l)):\n    if l[i]!=0:\n        l[pos],l[i]=l[i],l[pos]\n        pos+=1\nprint(l)'

In [ ]:
#37️. Find elements that appear only once.
l = [2, 2, 3, 4, 4, 5]

[2, 3, 4, 5]
0

In [1]:
#38️. Separate even and odd numbers.
l = [1,2,3,4,5]
even = [i for i in l if i%2==0]
odd = [i for i in l if i%2!=0]
print(even)
print(odd)

[2, 4]
[1, 3, 5]

In [3]:
#39️. Swap first and last elements.
l = [1,2,3,4,5]
last = len(l)-1
l[0],l[last]= l[last],l[0]
print(l)

[5, 2, 3, 4, 1]

In [6]:
#40️. Sum of largest 2 numbers.
l = [5,20,12,8]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]<l[j]:
            l[i],l[j]=l[j],l[i]
sum = 0
nl = l[0:2]
for i in nl:
    sum+=i
print(sum)

32

In [7]:
#41️. Remove all occurrences of a particular element.
l= [2, 3, 4, 2, 5] #(Remove 2)
n = int(input("enter the element you  want to remove: "))
for i in l:
    if i == n:
        l.remove(i)
print(l)

[3, 4, 5]

In [9]:
#42️. Find difference between sum of even and odd numbers.
l = [1,2,3,4,5]
even = [i for i in l if i%2==0]
odd = [i for i in l if i%2!=0]
even_sum = 0
odd_sum = 0
for i in even:
    even_sum+=i
for i in odd:
    odd_sum+=i
if even_sum>odd_sum:
    print(even_sum-odd_sum)
else:
    print(odd_sum-even_sum)

3

In [11]:
#43️. Find common elements between two lists.
l= [1, 2, 3, 4]
m= [3, 4, 5, 6]
for i in l:
    if i in m:
        print(i)
nl = [i for i in l if i in m]
print(nl)

3
4
[3, 4]

In [ ]:
#44️. Remove duplicate elements.
l = [1, 2, 2, 3, 3, 4]
result = []
for i in l:
    if i not in result:
        result.append(i)
print(result)
# nl = set(l)

[1, 2, 3, 4]

In [19]:
#45️. Find second largest element.
l = [5, 9, 8, 7]
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]<l[j]:
            l[j],l[i]=l[i],l[j]
print(l[1])

8

In [31]:
#46️. Concatenate two lists index-wise.
l = [1, 2, 3]
m = [4, 5, 6]
nl = []
for i in range(len(l)):
    nl.append(l[i]+m[i])
print(nl)

[5, 7, 9]

In [34]:
#47️. Split list into two equal halves.
l = [1, 2, 3, 4, 5, 6]
mid = len(l)//2
m,n = l[:mid],l[mid:]
print(m,n)

[1, 2, 3] [4, 5, 6]

In [41]:
#48️. Check if two lists are equal (same elements, same order).
l =[1,2,3] 
m =[1,2,3]
if l == m:
    print(True)
else:
    print(False)

True

In [57]:
#49️. Merge two sorted lists into one sorted list.
l = [1,3,5]
m = [2,4,6]
"""l = sorted(l)
m = sorted(m)
nl = sorted(l + m)
print(nl)"""
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
for i in range(len(m)):
    for j in range(i+1,len(m)):
        if m[i]>m[j]:
            m[i],m[j]=m[j],m[i]
nl = l + m
for i in range(len(nl)):
    for j in range(i+1,len(nl)):
        if nl[i]>nl[j]:
            nl[i],nl[j]=nl[j],nl[i]
print(nl)

[1, 2, 3, 4, 5, 6]

In [59]:
#50️. Find all numbers between 10 and 50 divisible by 7.
l = [i for i in range(10,50) if i%7==0]
l

[14, 21, 28, 35, 42, 49]

In [61]:
#51️. Remove all strings with length greater than 5.
l=['apple','cat','banana','dog']
for i in l:
    if len(i)>5:
        l.remove(i)
print(l)

['apple', 'cat', 'dog']

In [64]:
#52️. Count total characters in all string elements of list.
l = ['abc','de','fgh']
count = 0
for i in l:
    for j in i:
        count+=1
print(count)

8

In [65]:
#53️. Pair each number with its square.
l = [2,3,4]
nl = []
for i in l:
    nl.append((i,i**2))
print(nl)

[(2, 4), (3, 9), (4, 16)]

In [69]:
#54️. Reverse each word in list of strings.
l = ['abc','xyz']
nl = []
"""for i in l:
    nl.append(i[::-1])
print(nl)"""
for i in l:
    rev = ''
    for j in range(len(i)-1,-1,-1):
        rev = rev+ i[j]
    nl.append(rev)
print(nl)

['cba', 'zyx']

In [73]:
#55️. Remove elements at even index positions.
l = [10,20,30,40,50]
nl = [l[i] for i in range(len(l)) if i%2!=0]
nl

[20, 40]

In [75]:
#56️. Replace each element by its cube.
l = [2,3]
l = [i**3 for i in l]
l

[8, 27]

In [ ]:
#57️. Extract numbers greater than average of list.

l = [1,3,5,7,9]
sum = 0 
for i in l:
    sum +=i
    avg = sum/len(l)
for i in l:
    if i > avg:
        print(i)

7
9

In [23]:
#58️. Remove first occurrence of minimum value.
l = [5,3,1,2,1,4]
min= 0
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i] ==l[j]:
            min = i
l.pop(min)
print(l)
""" 
l = [5, 3, 1, 2, 1, 4]

min_val = l[0]
min_index = 0

for i in range(1, len(l)):
    if l[i] < min_val:
        min_val = l[i]
        min_index = i

l.pop(min_index)
print(l)



"""

[5, 3, 2, 1, 4]

' \nl = [5, 3, 1, 2, 1, 4]\n\nmin_val = l[0]\nmin_index = 0\n\nfor i in range(1, len(l)):\n    if l[i] < min_val:\n        min_val = l[i]\n        min_index = i\n\nl.pop(min_index)\nprint(l)\n\n\n\n'

In [24]:
#59️. Insert 100 at index 2.
l = [1,2,3,4]
l[2]=100
l

[1, 2, 100, 4]

In [25]:
#60️. Check if list is palindrome.
l = [1,2,3,2,1]
if l == l[::-1]:
    print(True)
else:
    print(False)

True