In [2]:
#1. Print the numbers from 1 to 10 using a for loop.
for i in range(1,11):
    print(i,end= " ")

1 2 3 4 5 6 7 8 9 10

In [4]:
#2. Print the even numbers from 1 to 20 using a while loop.
for i in range(1,21):
    if i % 2 == 0 :
        print(i,end=' ')

2 4 6 8 10 12 14 16 18 20

In [6]:
#3. Calculate and print the sum of numbers from 1 to 100 using a for loop.

sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

In [60]:
#4. Print a multiplication table for a given number using a for loop.
n = int(input("enter a number: "))
for i in range(1,11):
    print(n*i)

3
6
9
12
15
18
21
24
27
30

In [1]:
#5. Print the Fibonacci series up to a given number using a while loop.
a= 0
b= 1
n = int(input("enter the nth term: "))
i = 1
while i <= n:
    print(a,end=' ')
    a,b = b,a+b
    i+=1

0 1 1 2 3 5 8 13 21 34

In [48]:
#6. Print the reverse of a given string using a for loop.
s = 'surendra'

'''for i in range(len(s)-1,-1,-1):
    print(s[i])'''
rev =""
for ch in s:
    rev= ch+rev
print(rev)

ardnerus

In [ ]:
#7. Calculate and print the factorial of a given number using a while loop.
n = int(input())
i = 1
fact = 1
while i <= n:
    fact*=i
    i+=1
print(fact)

120

In [11]:
#8.Print the ASCII value of each character in a given string using a for loop.
s = 'surendra'
for i in s:
    print(i,ord(i),end=' | ')

s 115 | u 117 | r 114 | e 101 | n 110 | d 100 | r 114 | a 97 |

In [14]:
#9.Calculate and print the average of a list of numbers using a for loop.
lst = [1,2,3,4,5,6]
sum = 0
cnt = 0
for i in lst:
    sum+=i
    cnt +=1
    avg = sum/cnt
print(avg)

3.5

In [48]:
#10. Check if a given number is prime using a while loop.
n = int(input())
i = 2
while i<n:
    if n % i==0:
        print('not prime')
        break
    i +=1
else:
    print("prime")

prime

In [53]:
#11. Print the first 10 terms of the geometric sequence with a common ratio of 2 using a for loop.
gp= 2
for i in range(1,11):
    print(gp,end=' ')
    gp = gp * 2

2 4 8 16 32 64 128 256 512 1024

In [ ]:
#12. Generate and print a random number between 1 and 10 using a while loop.
i = 1
while i <= 10:
    print(i)
    i+=1

1
2
4
8

In [58]:
#13. Print the square of each number from 1 to 10 using a for loop.
for i in range(1,11):
    print(i**2,end=' ')

1 4 9 16 25 36 49 64 81 100

In [60]:
#14. Count and print the number of vowels in a given string using a for loop.

s="hvceuuiw"
count=0
for i in s:
    if i in 'aeiou':
        count+=1
print(count)

4

In [11]:
#15. Print the factors of a given number using a while loop.
n = int(input())
i = 1
while i<n:
    if n%i ==0:
        print(i,end=' ')
    i+=1

1 2 3 4 6

In [1]:
#16. Calculate and print the sum of the digits of a given number using a for loop.

num = int(input())

sum = 0 
for i in range(len(str(num))):
    sum += num%10
    num = num//10
print(sum)

6

In [18]:
#17. Print a pattern of numbers from 1 to 5 using nested loops.

for i in range(1,6):
    for j in range(1,6):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
#18. Print the uppercase letters of the alphabet using a for loop.

for i in range(65,91):
    print(chr(i),end= ' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [23]:
#19. Print the lowercase letters of the alphabet in reverse order using a while loop.

for i in range(97,123):
    print(chr(i),end=' ')

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
#20. Print the calendar of a given month using nested loops.
for i in range(1,32):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31

In [44]:
#21. Generate and print the first 10 prime numbers using a for loop
count = 0
for i in range(2,100):
    for j in range(2,i):
        if i%j == 0 :
            break
    else:
        print(i,end= ' ')
        count +=1
        if count==10:
            break

2 3 5 7 11 13 17 19 23 29

In [ ]:
#22. Print the elements of a list in reverse order using a while loop.
lst = [1,2,3,4,5,6]
i = len(lst)-1
while i>=0:
    print(lst[i],end= ' ')
    i-=1

6 5 4 3 2 1

In [80]:
#23. Calculate and print the power of a given number using a for loop.
base = int(input())
power = int(input())
result  = 1
for i in  range(power):
    result*=base
print(result)

8

In [89]:
#27. Calculate and print the factorial of each number from 1 to 10 using a for loop.

fact= 1
for i in range(1,11):
        fact *=i
        print(fact,end=' ')

1 2 6 24 120 720 5040 40320 362880 3628800

In [101]:
#29. Print the prime factors of a given number using a for loop.
n = int(input())
for i in range(2,n+1):
    if n%i==0:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i,end=' ')

2 617

In [110]:
#30. Calculate and print the sum of all even numbers between 1 and 50 using a while loop.
i = 1
while i <=50:
    if i%2==0:
        print(i,end=' ')
    i+=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [113]:
#31. Print the multiplication table of each number from 1 to 5 using nested loops.
for i in range(1,6):
    for j in range(1,11):
        print(i,' x ',j,' = ',i*j)
    print()

1  x  1  =  1
1  x  2  =  2
1  x  3  =  3
1  x  4  =  4
1  x  5  =  5
1  x  6  =  6
1  x  7  =  7
1  x  8  =  8
1  x  9  =  9
1  x  10  =  10

2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30

4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40

5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

In [115]:
#32. Print the number of characters in each word of a given sentence using nested loops.
s= input()
count =0
for i in s:
    for j in i:
        count+=1
print(count)

26

In [116]:
#34. Print the common elements between two lists using a for loop.
ls1 = [1,2,3,4,5,6]
ls2 = [3,6,5,7,8,9]
for i in ls1:
    for j in ls2:
        if i==j:
            print(i)

3
5
6

In [119]:
#36. Print the odd numbers in reverse order from 20 to 1 using a while loop.
i = 20
while i>=1:
    if i%2!=0:
        print(i,end=' ')
    i-=1

19 17 15 13 11 9 7 5 3 1

In [16]:
#40. Calculate and print the GCD (Greatest Common Divisor) of two numbers using a while loop
a = int(input())
b = int(input())
while b!=0:
    a,b = b,a%b
print(a)

5

In [ ]:
#42. Find and print the minimum element in a list using a for loop.

lst = [12,43,78,32,90,123]
for i in range(len(lst)):
    for j in range(i,len(lst)):
        if lst[i]<lst[j]:
            smallest = lst[i]

    print(smallest)

12
43
78
32
90
90

In [33]:
#43. Calculate and print the sum of all odd numbers between 1 and 50 using a for loop.
sum=0
for i in range(1,50):
    if i%2!=0:
        sum+=i
print(sum)

625

In [38]:
#45. Print the numbers from 1 to 10 in reverse order using a for loop.
for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [40]:
#47. Print the prime numbers between 1 and 100 using a for loop.
for i in range(2,100):
    for j in range(2,i):
        if i%j ==0:
            break
    else:
        print(i,end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [11]:
#48. Check if a given number is a perfect square using a while loop. 

n = int(input())
i = 1
while i*i<=n:
    if i*i ==n :
        print("perfect square")
        break
    i+=1
else:
    print('not perfect square')

perfect square

In [13]:
#49. Print the elements of a nested list using nested loops. 

lst1 =[[12,34,11],[45,89,90,22],[65,99,83,94]]

for i in lst1:
    for j in i:
        print(j,end=' ')

12 34 11 45 89 90 22 65 99 83 94

In [22]:
#46. Calculate and print the LCM (Least Common Multiple) of two numbers using a while loop. 
x = int(input())
y = int(input())
a,b =x,y
while b!=0:
    a,b = b,a%b
gcd = a
lcm = (x*y)//gcd
print(lcm)

36

In [ ]:
# 39. Print the uppercase and lowercase letters of the alphabet alternately using nested loops. 
for j in range(65,91):
        for i in range(1):
                print(chr(j)+ chr(j+32),end=' ')

Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz

In [40]:
#33. Check if a given string is a pangram using a for loop. 
a='qwertyuiopasdfghjklzxcvbnm'
s= input().lower()
for ch in a:
    if ch not in s:
        print('not pangram')
        break
else:
    print('pangram')

pangram

In [59]:
a= 0
b=1
n  = int(input())
i=0
while i<n:
    print(a,end=' ')
    a,b=b,a+b
    i+=1

0 1 1 2 3 5 8 13