In [4]:
# Arithmetic Operator

'''Addition +
Subtraction -
multiplication *
division /
floor division //
modulus %
exponential ** 
'''
a = 10
b = 5
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

15
5
50
2.0
2
0
100000

In [ ]:
'''Assignment operator

Addition +=
Subtraction -=
multiplication *=
division /=
floor division //=
modulus %=
'''

a = 458
a += 10

In [6]:
a

468

In [13]:
a+=70
a

818

In [14]:
b = 50

In [16]:
b -= 10
b

40

In [19]:
a//=a
a

1

In [ ]:
'''comparison  or relational operator
<
>
<=
>=
==
!=

'''

In [23]:
a = 50
b = 30

print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [24]:
a = 50
b = 300

print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

True
False
True
False
False
True

In [25]:
a = 50
b = 50

print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

False
False
True
True
True
False

In [26]:
'''logical operator
and &
or |
not !

'''

'logical operator\nand &\nor |\nnot !\n\n'

In [30]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)

False
True
False

In [31]:
a = False 
b = True

print(a and b)
print(a or b)
print(not a)

False
True
True

In [33]:
a = True
b = True

print(a and b)
print(a or b)
print(not a)

True
True
False

In [34]:
a = False
b = False

print(a and b)
print(a or b)
print(not a)

False
False
True

**logical operator**

and 
or
nor

In [41]:
a = 89
b = 45

print(a>b and b<=a)
print(a>b and b==a)
print(b>a and b>=a)

print(a>b or b<=a)
print(a>b or b==a)
print(b>a or b>=a)
print(a<b or b ==a)

a = True
b = False
print(not a)
print(not b)

True
False
False
True
True
False
False
False
True

In [42]:
x = 12

print(x)
bin_x = bin(x)
print(bin_x)

12
0b1100

In [44]:
print(0b1100)

12

In [46]:
a = 12
b = 14

print(bin(a))
print(bin(b))

print(a & b)
print(a | b)

0b1100
0b1110
12
14

In [47]:
n = bin(int(input("Enter your values: ")))
n

'0b111001000'

In [49]:
u = 67
v = 23
print(bin(u))
print(bin(v))
print(u ^ v)

0b1000011
0b10111
84

In [50]:
a = -5
print(not a)

False

right shift >>  division

left shift << multiplication

In [52]:
x = 8
x<<3

64

In [53]:
8* 2**3

64

In [54]:
x = 32
x>>3

4

In [55]:
x = -13
print(~x)

12

In [60]:
var = 36
var << 2
#var >> 2

144

Membership operator

in 
not in

In [61]:
y = "Apache"

print("A" in y)
print('E' in y)

print('E' not in y)
print('A' not in y)

True
False
True
False

**IDENTITY OPERATOR**

is 

not is

In [65]:
a = 'python'
b = 'python'

print(id(a))
print(id(b))

print(a is b)
print(a is not b)

1197538376896
1197538376896
True
False

In [ ]:
u =[1,2,3]
v =[1,2,3]

print(id(u))
print(id(v))
print(u is v) # checks if reference values are same
print(u is not v)
print(u == v) #checks if values are same

1197634623808
1197634629120
False
True
True

In [ ]:
if a > b:
    print(a, " s greater than ",b)
else:
    print(b," is greater than ",b)