In [ ]:
t = (1,2,3,10.35,56,12,9876,343,'bike','cycle')
type(t)

(1, 2, 3, 10.35, 56, 12, 9876, 343)

In [10]:
tup2 = tuple(('mitali','ritik','monica'))
tup2

('mitali', 'ritik', 'monica')

In [14]:
print(t[5])

12

In [16]:
print(list(t))

[1, 2, 3, 10.35, 56, 12, 9876, 343]

In [19]:
a,b,*c = 20,10,12,30,14,56,87,91
print(a)
print(b)
print(c)

20
10
[12, 30, 14, 56, 87, 91]

In [ ]:
tup4 = (10,82,83,92,29,52,59)
print(tup4)
new_list = list(tup4)
new_list[4]=77
print(new_list)
update_tuple4 = tuple(new_list)
print(update_tuple4)

(10, 82, 83, 92, 29, 52, 59)
[10, 82, 83, 92, 77, 52, 59]
(10, 82, 83, 92, 77, 52, 59)