In [3]:
def Add(a,b,c):
    sum = a+b+c
    return sum
Add(1,2,3)
Add(5,6,2)
Add(5,10,7)

22

In [11]:
def Add(a=10,b=20,c=30):
    sum= a+b+c
    return sum
Add(10,23,13)
Add()

60

In [25]:
def add(*mun):
    print(type(mun))
add()

<class 'tuple'>

In [1]:
def fact(n):
    if n >=1:
        return n*fact(n-1)
    else:
        return 1

fact(10)

3628800

In [43]:
def Sum(x):
    if x>0:
        return x+Sum(x-1)
    else:
        return 0
Sum(0)

0

In [21]:

def fib(n):
    if n == 0:
        return 0
    if n==1:
        return 1
    return fib(n-1)+fib(n-2)

n=5 
for i in range(n):
    print(fib(i),end=' ')

0 1 1 2 3

In [23]:
def flatten(arg):
    for i in arg :
        if type(i)!=list:
            nl.append(i)
        else:
            flatten(i)

nl = []
args = [2,3,4,[5,6,[7,8]]]
flatten(args)
print(nl)

[2, 3, 4, 5, 6, 7, 8]

In [ ]:
def factorial(n):
    if n==1 or n ==0:
        return 1
    else:
        return n*factorial(n-1)
def permutation(x):
     
     

        
permutation('abc')

'a'

In [49]:
def factorial(n):
    if n==1 or n ==0:
        return 1
    else:
        return n*factorial(n-1)
factorial(5)

120

In [60]:
r = 3
n = 3
permutation = fact(n)//fact(n-r)
permutation

6