In [ ]:
x = set()
type(x)
len(x)

0

In [ ]:
y = {24,5,65,87,23,658,322,2,2,23,'surendra',True,False}
len(y)
print(y)

{0, 65, 322, 2, True, 5, 658, 'surendra', 23, 87, 24}

In [9]:
for i in y:
    print(i)

0
65
322
2
5
658
23
87
24

In [ ]:
a = {1,2,3,4}
b = {2,3,8,7}