In [1]:
import pandas as pd
import numpy as np
import warnings

In [3]:
df = pd.read_csv(r'D:\Grow Tech\Prcatice_data_cleaning\Uncleaned Dataset.csv')
df

,Order_ID,Customer_Name,Product_Category,Product_Name,Units_Sold,Unit_Price,Discount_%,Sales_Amount,Order_Date,City,Segment,Profit
0,1000,Brian Thompson,Jeans,Slim Fit Jeans,NaN,842.00,0.60,0.00,2025-02-27,Delhi,B2C,2137.45
1,1001,Shaun Ross,Jeans,Slim Fit Jeans,1.0,NaN,NaN,0.00,2025-07-15,Ahmedabad,NaN,1588.15
2,1002,Sarah Snyder,Jackets,Puffer Coat,1.0,637.82,NaN,0.00,02-01-2025,Mumbai,B2B,-158.03
3,1003,Jay Briggs,Shoes,Loafers,2.0,2962.27,NaN,0.00,18-06-2025,bengaluru,B2B,2296.50
4,1004,Maria Blake,Accessories,Belts,1.0,2881.07,0.27,2103.18,NaN,hyderbad,NaN,63.66
...,...,...,...,...,...,...,...,...,...,...,...,...
2495,3495,Allen Williams,T-Shirts,Oversized T-shirt,NaN,848.79,NaN,0.00,NaN,Mumbai,NaN,2259.00
2496,3496,Jonathan Hill,Shoes,Loafers,4.0,NaN,NaN,0.00,2024-03-10,Hyderabad,B2B,2232.98
2497,3497,Alejandro Cochran,Jackets,Bomber Jacket,NaN,3389.24,1.06,0.00,NaN,Ahmedabad,B2C,1955.31
2498,3498,Angela Adkins,Jeans,Straight Cut,5.0,3844.19,NaN,0.00,24-07-2024,Hyd,NaN,2967.00
2499,3499,Zachary Werner,T-Shirts,Graphic Tee,6.0,1239.75,NaN,0.00,NaN,Mumbai,B2C,715.15

In [5]:
df.isnull().sum()

Order_ID               0
Customer_Name          0
Product_Category       0
Product_Name           0
Units_Sold          1306
Unit_Price          1210
Discount_%          1651
Sales_Amount           0
Order_Date           606
City                   0
Segment              821
Profit                 0
dtype: int64

In [32]:
warnings.filterwarnings('ignore')

In [33]:
df['Units_Sold']=df['Units_Sold'].fillna(df['Units_Sold'].mean(),inplace=True)
df['Unit_Price']=df['Unit_Price'].fillna(df['Unit_Price'].mean(),inplace=True)
df['Discount_%']=df['Discount_%'].fillna(df['Discount_%'].mean(),inplace=True)
df['Order_Date']=df['Order_Date'].fillna(df['Order_Date'].mode(),inplace=True)
df['Segment']=df['Segment'].fillna(df['Segment'].mode(),inplace=True)

In [34]:
df

,Order_ID,Customer_Name,Product_Category,Product_Name,Units_Sold,Unit_Price,Discount_%,Sales_Amount,Order_Date,City,Segment,Profit
0,1000,Brian Thompson,Jeans,Slim Fit Jeans,1.940536,842.000000,0.600000,0.00,2025-02-27,Delhi,B2C,2137.45
1,1001,Shaun Ross,Jeans,Slim Fit Jeans,1.000000,2691.715527,0.646466,0.00,2025-07-15,Ahmedabad,B2B,1588.15
2,1002,Sarah Snyder,Jackets,Puffer Coat,1.000000,637.820000,0.646466,0.00,02-01-2025,Mumbai,B2B,-158.03
3,1003,Jay Briggs,Shoes,Loafers,2.000000,2962.270000,0.646466,0.00,18-06-2025,bengaluru,B2B,2296.50
4,1004,Maria Blake,Accessories,Belts,1.000000,2881.070000,0.270000,2103.18,2023-12-05,hyderbad,B2B,63.66
...,...,...,...,...,...,...,...,...,...,...,...,...
2495,3495,Allen Williams,T-Shirts,Oversized T-shirt,1.940536,848.790000,0.646466,0.00,2024-03-10,Mumbai,B2B,2259.00
2496,3496,Jonathan Hill,Shoes,Loafers,4.000000,2691.715527,0.646466,0.00,2024-03-10,Hyderabad,B2B,2232.98
2497,3497,Alejandro Cochran,Jackets,Bomber Jacket,1.940536,3389.240000,1.060000,0.00,24-07-2024,Ahmedabad,B2C,1955.31
2498,3498,Angela Adkins,Jeans,Straight Cut,5.000000,3844.190000,0.646466,0.00,24-07-2024,Hyd,B2C,2967.00
2499,3499,Zachary Werner,T-Shirts,Graphic Tee,6.000000,1239.750000,0.646466,0.00,24-07-2024,Mumbai,B2C,715.15

In [35]:
df.isnull().sum()

Order_ID            0
Customer_Name       0
Product_Category    0
Product_Name        0
Units_Sold          0
Unit_Price          0
Discount_%          0
Sales_Amount        0
Order_Date          0
City                0
Segment             0
Profit              0
dtype: int64